.quantity-wrapper {
    padding-bottom: 40px;

    .minus {
        background-image: url("./images/minus-circle.svg");
    }

    .plus {
        background-image: url("./images/plus-circle.svg");
    }

    .minus,
    .plus {
        width: 32px;
        height: 32px;
        background-repeat: no-repeat;
        display: inline-block;
        margin: -11px 0;
    }

    .quantity {
        font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-16)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-muli);
        color: var(--unnamed-color-172026);
        letter-spacing: 0.32px;
        background: var(--white) 0% 0% no-repeat padding-box;
        border: 2px solid var(--gray-m1);
        border-radius: 8px;
        opacity: 1;
        width:87px;
        height: 40px;
        margin: 0 12px;
        text-align: center;
    }
}