//========== COLORS ==========

$color_bg1: #1B252C;
$color_1:#545D63;
$color_oxford_blue: #354E57;
$color_white: #FFFFFF;
$color_grey: #181C24;

$color_black: #172026;
$color_teal-green: #2d9d78;
$color_mustard: #fdba5e;
$color_blue: #336dff;
$color_red: #e34850;
$color_lavender: #6408D3;
$color_pink: #F9009A;
$color_dark_yellow: #eb7327;